.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
}
